{% block head %}
<head>
    <title>
        {% block title %}
        {% if title %}{{ title }} - Couch & Coach{% else %}Couch & Coach{% endif %}
        {% endblock %}
    </title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
{% endblock %}

<body>
{% block navbar %}
<nav>
    <div>
        <a href="{{ url_for('index') }}">Главная</a>
        <ul>
            <li><a href="#">Программы</a></li>
            <li><a href="{{ url_for('exercises') }}">Упражнения</a></li>
            <li><a href="{{ url_for('login') }}">Вход</a></li>
            <li><a href="{{ url_for('registration') }}">Регистрация</a></li>
            <li><a href="{{ url_for('profile', user_id=current_user.id) }}">Профиль</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

<a href="{{ url_for('logout') }}">Выход</a>
</body>