{% block head %}
<head>
    <title>
        {% block title %}
        {% if title %}{{ title }} - Sportify{% else %}Sportify{% endif %}
        {% endblock %}
    </title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
{% endblock %}

<body>
{% block navbar %}
<nav>
    <div>
        <a href="{{ url_for('main') }}">Главная</a>
        <ul>
            <li><a href="#">Программы</a></li>
            <li><a href="{{ url_for('login') }}">Вход</a></li>
            <li><a href="{{ url_for('registration') }}">Регистрация</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}
</body>