{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="../static/css/BasePage.css">
{% endblock %}

{% block content %}
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Упражнения</h3>
            <h1>С Couch&Coach</h1>
        </div>
    </section>
    {% for row in records %}
    <section>
        <div class="parallax-one" style="width: 100%; background-image: url(../static/images/sport_back/{{row[0]}}.jpg)">
            <h2>{{ row[1] }}</h2>
        </div>
    </section>
    <section>
        <div class="title">
            <h3>Уровень:</h3>
            <h1>{{ row[3] }}</h1>
            <p class="line-break margin-top-10"></p>
            <h3>Направленность:</h3>
            <h1>{{ row[4] }}</h1>
            <p class="line-break margin-top-10"></p>
            <h3>Часть тела:</h3>
            <h1>{{ row[5] }}</h1>
            <p class="line-break margin-top-10"></p>
            <h3>Необходимое кол-во баллов:</h3>
            <h1>{{ row[6] }}</h1>
            <p class="line-break margin-top-10"></p><br>
            <h3>Добавить к себе:</h3>
        </div>
    </section>
    <div class="container center">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <input type="hidden" name="exId" id="exId" value="{{ row[0] }}">
            <button class="btn-floating btn-large waves-effect waves-light indigo lighten-4 center"
                    type="submit" name="action" onclick="addEx(id)">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
    <br>
    {% endfor %}
    <div class="title">
        <h3>Start the changes</h3>
        <h1>with yourself</h1>
    </div>
</div>

<script>
    function addEx(id) {
        var btn = document.getElementById(id);
        btn.disabled = true;
    }
</script>
{% endblock %}
