{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="../static/css/BasePage.css">
{% endblock %}

{% block content %}
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Начните менять свою жизнь уже сегодня</h3>
            <h1>С Couch&Coach</h1>

        </div>
    </section>

    <section>
        <div class="parallax-one">
            <h2>Составление собственных программ</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p><span class="first-character sc">Б</span>ольше никаких ограничений - делайте только то, что вам нравится!
                Составляйте свои тренировочные программы в зависимости от ваших предпочтений, здоровья и настроения.
                Большой выбор различных упражнений на разные группы мышц и уровень физической подготовки. Возможность
                занятий без дополнительного оборудования. Всё, что требуется, это только открыть приложение на вашем
                компьютере или телефоне.
            </p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Нет привязки к месту тренировки и спортивной форме - нужен только доступ к
                интернету и ваше желание. Время и место тренировок вы выбираете сами. В зависимости от выбранных
                упражнений, вас ждёт таймер и количество повторений, которые необходимо выполнить, а также, видеоролик с
                детальной демонстрацией техники выполнения. Занимайтесь сколько угодно и где угодно. Всё абсолютно
                бесплатно и зависит только от вашего настроя</p>
        </div>
    </section>

    <section>
        <div class="parallax-two">
            <h2>Реалистичные анимации с вашими параметрами</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p><span class="first-character ny">Б</span>ольше никакой лени - результат ваших тренировок отображается на
                вашем персонаже. Чем больше и усерднее вы тренируетесь, тем более наглядным и эффектным получается
                результат. Длительное отсутствие тренировок отображается на персонаже так же, как и в жизни. Ваши ночные
                булочки и дни без движения у телевизора не пройдут мимо.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">При регистрации вам необходимо указать уровень вашей физической подготовленности, а
                также параметры вашего тела. На основании этой информации к вам прикрепляется 3D-модель, которая в
                будущем будет присутствовать с вами на всех упражнениях и следить за вашими достижениями. Это лучше, чем
                Sims 4</p>
        </div>
    </section>

    <section>
        <div class="parallax-three">
            <h2>Тренировки по отдельным упражнениям</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p><span class="first-character atw">Б</span>ольше никакого жира на вашем пузике. Хотите накачать идеальный
                пресс к лету, но считаете, что все эти сложные комплексные упражнения не для вас? Добавьте только одно!
                Делаете на спор 1000 бёрпи? Добавьте только его!</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Всё, что нужно - выбрать одно упражнение из уже имеющегося списка и добавить его к
                себе. В вашем профиле будет отображена вся необходимая информация для дальнейших действий. Но не
                забывайте, что идеальное тело — это не кубики на животе, не цифра на весах, не бирка на одежде. В нашем
                представлении, это тело, которое дает возможность жить полной здоровой жизнью без оглядки на правила и
                запреты; жить, не боясь еды, не загоняя себя до полного изнеможения в зале.</p>
        </div>
        <p class="line-break margin-top-10"></p>
        <div class="title">
            <h3>Start the changes</h3>
            <h1>with yourself</h1>
        </div>
    </section>
</div>
{% endblock %}