{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="../static/css/UsProfileV.css">
<link rel="stylesheet"
      href="../static/css/BasePage.css">
<script src="../static/js/forUserProf.js"></script>
<link href='https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext' rel="stylesheet">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="profile-card js-profile-card">
        <div class="profile-card__img">
            <img src="../static/video/{{current_user.userGender}}/{{current_user.userLevel}}/{{current_user.userPhys}}/exPhoto/0.png"
                 alt="profile card">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">{{ records[0][0] }}</div>
            <div class="profile-card__txt"><strong>Электронная почта: </strong>{{ records[0][1] }}</div>
            <div class="profile-card-loc">
            <span class="profile-card-loc__icon">

            </span>
                <span class="profile-card-loc__txt">
            <b>Рост: </b>{{ records[0][2] }} см | <b>Вес: </b>{{ records[0][3] }} кг
            </span>
            </div>
            <hr>
            <div class="profile-card-loc">
            <span class="profile-card-loc__icon">
                <i class="material-icons right">import_export</i>
            </span>
                <span class="profile-card-loc__txt">
            <b>Текущий уровень: </b>
                {% if records[0][6] <= 300 %}
                    Новичок
                {% elif records[0][6] >= 700 and records[0][6] < 1000 %}
                    Средний
                {% elif records[0][6]  >= 1000 %}
                    Профи
                {% endif %}
            </span>
            </div>
            <hr>
            <div class="profile-card-loc">
            <span class="profile-card-loc__icon">
                <i class="material-icons right">fitness_center</i>
            </span>
                <span class="profile-card-loc__txt">
            <b>Физическая форма: </b>{{ records[0][7] }}
            </span>
            </div>

            <div class="profile-card-inf">
                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{ records[0][6] }}</div>
                    <div class="profile-card-inf__txt">Баллы</div>
                </div>

                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{ rev }}</div>
                    <div class="profile-card-inf__txt">Дата Регистрации</div>
                </div>

                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{ records[0][8] }}</div>
                    <div class="profile-card-inf__txt">Тренировки</div>
                </div>
            </div>

            <div class="profile-card-social">
                <div class="container">
                    <b>Старт базовой тренировки: </b>
                    <a href="{{ url_for('training_page', tran_id=0) }}" class="profile-card-social__item twitter"
                       target="_blank">
                        <p class="icon-font">&#127789;</p>
                    </a>
                </div>
                <br>
                <div class="container">
                    <b>Выбор нового упражнения: </b>
                    <a href="{{ url_for('exercises') }}" class="profile-card-social__item instagram"
                       target="_blank">
                        <p class="icon-font">&#127829;</p>
                    </a>
                </div>
                <br>
                <div class="container">
                    <b>Выбор новой программы: &nbsp; </b>
                    <a href="{{ url_for('training') }}" class="profile-card-social__item twitter"
                       target="_blank">
                        <p class="icon-font">&#127831;</p>
                    </a>
                </div>
            </div>

            <div class="profile-card-ctr">
                <div class="center" style="margin: 0.5rem">
                    <a href="#myEx" role="button" class="profile-card__button button--blue js-message-btn"
                       type="button">Мои Упражнения</a>
                </div>
                <div class="center" style="margin: 0.5rem">
                    <a href="{{ url_for('edit_profile') }}" role="button" class="profile-card__button button--orange"
                       type="button"
                       style="">Изменить профиль</a>
                </div>
            </div>
        </div>
    </div>

</div>

<svg hidden="hidden">
    <defs>
        <symbol id="icon-facebook" viewBox="0 0 32 32">
            <title>facebook</title>
        </symbol>

        <symbol id="icon-instagram" viewBox="0 0 32 32">
            <title>instagram</title>
        </symbol>

        <symbol id="icon-twitter" viewBox="0 0 32 32">
            <title>twitter</title>
        </symbol>
    </defs>
</svg>

{% if major %}
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Мои Упражнения</h3>
            <h1>С Couch&Coach</h1>
        </div>
    </section>
</div>
<div class="container" id="myEx">
    <table class="striped highlight centered responsive-table">
        <thead>
        <tr>
            <th>Название упражнения</th>
            <th>Кол-во выполнений</th>
            <th>Общее время</th>
            <th>Кол-во тренировок</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for row in records2 %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[2] }}</td>
            <td>
                <button class="btn waves-effect waves-light indigo lighten-4" type="button"
                        onclick="location.href='{{ url_for('ex_page', ex_id=row[0]) }}'">Go

                    <i class="material-icons right">send</i>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
</div><br>
{% endif %}

{% if major2 %}
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Мои Программы</h3>
            <h1>С Couch&Coach</h1>
        </div>
    </section>
</div>
<div class="container" id="myTran">
    <table class="striped highlight centered responsive-table">
        <thead>
        <tr>
            <th>Название упражнения</th>
            <th>Кол-во выполнений</th>
            <th>Общее время</th>
            <th>Кол-во тренировок</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for row in records3 %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[2] }}</td>
            <td>
                <button class="btn waves-effect waves-light indigo lighten-4" type="button"
                        onclick="location.href='{{ url_for('training_page', tran_id=row[0]) }}'">Go

                    <i class="material-icons right">send</i>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
</div><br>
{% endif %}
<br><br><br><br><br><br><br>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock scripts %}
