{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Playfair+Display:wght@600&display=swap"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div style="flex: 1 0 auto; background: linear-gradient(#9492a7, whitesmoke);">
    <h3 style="margin: 0.85rem; font-family: 'Montserrat', sans-serif;" class="center white-text">Регистрация</h3>
    <div class="row">
        <div class="col s12 m4 l4 center"></div>
        <form action="" method="post" novalidate class="col s12 m4 l4">
            {{ form.hidden_tag() }}
            <div class="row white-text">
                <div class="input-field col s12 white-text">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.username.label }}
                    {{ form.username(id="icon_prefix", class="validate") }}
                    {% for error in form.username.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    {{ form.email.label }}
                    {{ form.email(id="icon_prefix", class="validate") }}
                    {% for error in form.email.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    {{ form.password.label }}
                    {{ form.password(id="icon_prefix", class="validate") }}
                    {% for error in form.password.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    {{ form.password2.label }}
                    {{ form.password2(id="icon_prefix", class="validate") }}
                    {% for error in form.password2.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">date_range</i>
                    {{ form.age.label }}<br>
                    {{ form.age(size=32) }}
                    {% for error in form.age.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <p style="margin: 0.85rem">
                    {{ form.gender.label }}<br>
                    {{ form.gender(size=1, class="browser-default") }}
                    {% for error in form.gender.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p style="margin: 0.85rem">
                    {{ form.level.label }}<br>
                    {{ form.level(size=1, class="browser-default") }}
                    {% for error in form.level.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p style="margin: 0.85rem">
                    {{ form.levelBody.label }}<br>
                    {{ form.levelBody(size=1, class="browser-default") }}
                    {% for error in form.levelBody.errors %}
                    <span style="color: #e59090;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <button class="btn waves-effect waves-light indigo lighten-4" type="submit" name="action" style="margin: 0.85rem">
                    Зарегистрироваться
                    <i class="material-icons right">restaurant</i>
                </button>
            </div>
        </form>
        <div class="col s12 m4 l4 center"></div>
    </div>
</div>
{% endblock %}
