{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="../static/css/BasePage.css">
{% endblock %}

{% block content %}
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Тренировки с Couch&Coach</h3>
            <h1>Программы тренировок</h1>
        </div>
    </section>

    <div class="responsive-video controls right" style="margin-left: 30px">
        <iframe width="840" height="480" src="../static/video/2.webm" allowfullscreen></iframe>
    </div>
    <br><br>
    <section class="center">
        <h1>Утренняя зарядка</h1>
        <hr>
        <h3>Описание программы:</h3>
        <h1>Спорт и хороший сон всегда идут рука об руку. Запуская активный обмен веществ с самого
            утра, вы создаете правильный баланс гормонов в теле, который необходим для здорового сна.</h1>

        <h3>Сложность программы:</h3>
        <h1>Лёгкая</h1>

        <h3>Группы мышц:</h3>
        <h1>Всё тело</h1>
    </section>
    <br>
    <hr>
    <section class="center">
        <button class="btn-large waves-effect waves-light pink lighten-4">Добавить к себе<i
                class="material-icons">exposure_plus_1</i></button>
    </section>
</div>
<div id="parallax-world-of-ugg">
    <div class="responsive-video controls left" style="margin-left: 30px">
        <iframe width="840" height="480" src="../static/video/2.webm" allowfullscreen></iframe>
    </div>
    <br><br>
    <section class="center">
        <h1>Без снаряжения</h1>
        <hr>

        <h3>Описание программы:</h3>
        <h1>Стань сильнее и выносливее с этой программой тренировок с собственным весом</h1>

        <h3>Сложность программы:</h3>
        <h1>Средняя</h1>

        <h3>Группы мышц:</h3>
        <h1>Всё тело</h1>
    </section>
    <br>
    <hr>
    <section class="center">
        <button class="btn-large waves-effect waves-light pink lighten-4">Добавить к себе<i
                class="material-icons">exposure_plus_1</i></button>
    </section>
</div>
{% endblock %}