{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="../static/css/BasePage.css">
{% endblock %}

{% block content %}
<div id="parallax-world-of-ugg">
    <section>
        <div class="title">
            <h3>Тренировки</h3>
            <h3>с Couch&Coach</h3>
        </div>
    </section>
    <br>
    <section>
        <div class="title" style="margin-top: -80px">
            <h1>{{records[0][0]}}</h1>
            <h3>{{records[0][1]}}</h3>
        </div>
    </section>
    <br>
    {% for row in records2 %}
    <br>
    <section>
        <div class="title" style="margin-top: -80px">
            <h1>{{row[8]}}</h1>
        </div>
    </section>
    <div class="responsive-video controls left"
         style="margin: 0.125rem; max-width:840px; max-height:480px; min-width: 375px; min-height: 210px">
        <video controls style="width: 100%; height: auto; max-height: 100%;">
            <source src="../static/video/{{current_user.userGender}}/{{current_user.userLevel}}/{{current_user.userPhys}}/exVid/{{row[0]}}.webm"
                    type="video/mp4">
        </video>
    </div>
    <br><br>
    <section class="center">
        <button class="btn-floating btn-large waves-effect waves-light teal accent-2 center" id="button{{row[0]}}"
                name="{{row[0]}}"
                onclick="addBut(name)">
            <i class="material-icons">play_arrow</i>
        </button>
    </section>
    <section class="center">
        {% if row[13] == 'easy' %}
        <input type="text" name="time" id="time" value="3" hidden>
        {% elif row[13] == 'medium' %}
        <input type="text" name="time" id="time" value="4" hidden>
        {% elif row[13] == 'hard' %}
        <input type="text" name="time" id="time" value="5" hidden>
        {% endif %}
        <h3>Время для тренировки</h3>
        <h1 id="timer{{row[0]}}"></h1>
        <hr>

        <h3>Текущее кол-во</h3>
        <h3 class="center">повторений:</h3>
        <h1 id="currentCounter{{row[0]}}">0</h1>
        <h3>Осталось выполнить:</h3>
        {% if current_user.userLevel == 'easy' %}
        <h1 id="totalCounter{{row[0]}}">{{row[10]}}</h1>
        {% elif current_user.userLevel == 'middle' %}
        <h1 id="totalCounter{{row[0]}}">{{row[11]}}</h1>
        {% elif current_user.userLevel == 'hard' %}
        <h1 id="totalCounter{{row[0]}}">{{row[12]}}</h1>
        {% endif %}
        <hr>

        <h3>Время для отдыха</h3>
        <button id="button2{{row[0]}}" class="btn-floating  waves-effect waves-light teal accent-2" disabled>
            <i class="material-icons">pause</i>
        </button>
        <h1 id="breakTimer{{row[0]}}"></h1>
    </section>
    <br>
    <hr>
    <div class="center">
        <button id="button3{{row[0]}}" class="btn-large waves-effect waves-light pink lighten-4">Закончить упражнение
        </button>
        <p id="demo"></p>
    </div>
    <br>
    {% endfor %}
    <div class="center">
        <button id="buttonEnd" class="btn-large waves-effect waves-light pink lighten-4">Закончить тренировку</button>
        <p id="demo2"></p>
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p hidden id="countP">
            {{ form.count() }}
        </p>
        <p hidden id="timeP" class="center">
            {{ form.timeOfEx(class="center") }}
        </p>
        <section hidden id="subBut" class="center">
            <p>
                Потвердить кол-во повторений
            </p>
            <button class="btn waves-effect waves-light pink lighten-4" type="submit" name="action"
                    style="margin: 0.85rem">Подтвердить
                <i class="material-icons right">restaurant</i>
            </button>
        </section>
    </form>
    <div class="title">
        <h3>Start the changes</h3>
        <h1>with yourself</h1>
    </div>
</div>
<br>


<script>
    let timerInput = document.getElementById("time"); // Берём строку
    let timeMinut = parseInt(timerInput.value) * 60; //Устанавливем время
    let timeStart = new Date();

    function addBut(name) {
        let buttonRun = document.getElementById("button" + name);// Берём кнопку остановки таймера
        let buttonStop = document.getElementById("button2" + name);// Берём кнопку остановки таймера
        let buttonStopEx = document.getElementById("button3" + name);// Берём кнопку остановки тренировки
        let buttonStopTran = document.getElementById("buttonEnd");// Берём кнопку остановки тренировки
        let timerShow = document.getElementById("timer" + name); // Берём блок для показа времени
        let timerBreakShow = document.getElementById("breakTimer" + name); // Берём блок для показа времени
        let countInput = document.getElementById("count"); // Берём строку
        let countP = document.getElementById("countP"); // Берём строку
        let timeP = document.getElementById("timeOfEx"); // Берём строку
        let subBut = document.getElementById("subBut"); // Берём строку

        let currentCounterStop = document.getElementById("currentCounter" + name); // Берём сколько осталось повторений

        let totalCounterStop = document.getElementById("totalCounter" + name); // Берём сколько осталось


        let timeBreak = 1;
        buttonStopEx.disabled = true;

        buttonStop.disabled = false;
        buttonRun.disabled = true;
        let currentCounterShow = Number(currentCounterStop.textContent);
        let totalCounterShow = Number(totalCounterStop.textContent);
        let timer = setInterval(function () {
            let seconds = timeMinut % 60; // Получаем секунды
            let minutes = timeMinut / 60 % 60; // Получаем минуты
            let hour = timeMinut / 60 / 60 % 60; // Получаем часы
            // Условие если время закончилось то...
            if (timeMinut <= 0) {
                // Таймер удаляется
                clearInterval(timer);
                // Выводит сообщение что время закончилось
                document.getElementById("demo").innerHTML = "Время вышло";
                buttonStopEx.disabled = false;
            } else { // Иначе
                // Создаём строку с выводом времени
                let strTimer = `${Math.trunc(hour)}:${Math.trunc(minutes)}:${seconds}`;
                // Выводим строку в блок для показа таймера
                timerShow.innerHTML = strTimer;
            }
            timeMinut--; // Уменьшаем таймер
        }, 1000);
        document.getElementById("demo").hidden = true;
        buttonStop.addEventListener('click', function () {
            clearInterval(timer);
            if (totalCounterShow >= 15) {
                currentCounterShow += 15;
                currentCounterStop.innerHTML = currentCounterShow;
                totalCounterShow -= 15;
                totalCounterStop.innerHTML = totalCounterShow;
                buttonRun.disabled = false;

                let breakTime = setInterval(function () {
                    let seconds = timeBreak % 60;
                    let minutes = timeBreak / 60 % 60;
                    let hour = timeBreak / 60 / 60 % 60;
                    if (timeBreak <= 0) {
                        clearInterval(breakTime);
                        document.getElementById("demo").innerHTML = "Продолжайте тренировку";

                        buttonRun.disabled = false;
                        timerBreakShow.hidden = true;
                    } else {
                        buttonRun.disabled = true;
                        buttonStop.disabled = true;
                        timerBreakShow.hidden = false;
                        let strBreakTimer = `${Math.trunc(hour)}:${Math.trunc(minutes)}:${seconds}`;
                        timerBreakShow.innerHTML = strBreakTimer;
                    }
                    timeBreak--; // Уменьшаем таймер
                }, 1000)
            }
            if (totalCounterShow === 0) {
                buttonStop.disabled = true;
                buttonRun.disabled = true;
                buttonStopEx.disabled = false;
            }
        });

        buttonStopEx.addEventListener('click', function () {
            buttonStopEx.disabled = true;
            countInput.setAttribute('value', currentCounterShow);

        });

        buttonStopTran.addEventListener('click', function () {
            totalCounter();
            timerBreakShow.hidden = true;
            subBut.hidden = false;
            let timeEnd = new Date();
            let Hours = timeEnd.getHours() - timeStart.getHours();
            let Minutes = timeEnd.getMinutes() - timeStart.getMinutes();
            let Seconds = Math.abs((timeEnd.getSeconds() - timeStart.getSeconds()));
            let fullTime = Hours + ":" + Minutes + ":" + Seconds;
            timeP.setAttribute('value', fullTime);
        });

        function totalCounter() {
            countInput.hidden = false;
            countP.hidden = false;
        }
    }
</script>

{% endblock %}